<div class="timer">
  
  <div class="work" ng-show="!onBreak && !onLongBreak">
    <h2>{{ remainingTime | timecode }}</h2>

    <button ng-click="startTimer(WORKTIME)">{{ buttonLabel }}</button>
  </div>
  
  <div class="break" ng-show="onBreak && !onLongBreak">
    <h2>{{ remainingTime | timecode }}</h2>

    <button ng-click="startTimer(BREAKTIME)">{{ buttonLabel }}</button>
  </div>
  
  <div class="longbreak" ng-show="onLongBreak">
    <h2>{{ remainingTime | timecode }}</h2>

    <button ng-click="startTimer(LONGBREAKTIME)">{{ buttonLabel }}</button>
  </div>
  
  <div class="tomato-counter">
    <div class="reset" ng-repeat="session in sessions">
      <!-- image of a tomato -->
      <!-- one per work+break sesh done so you know how close you are to a long break -->
      <img src="https://s3.amazonaws.com/pomodorobucket/tomato.gif" alt="Happy bouncing tomato"/>
    </div>
  </div>

  <div id="pause" ng-show="showPause">
    <button ng-click="pauseTimer()">{{ pauseLabel }}</button>
  </div>
  
</div>